.navigation {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px;
    background-color: #FFFFFF;
    &__section {
        display: flex;
        column-gap: 18px;
    }
    &__button {
        border: none;
        background-color: inherit;
        font-family: 'Inter';
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        color: #000000;
        text-align: center;
        padding-top: 15px;
        &-sign-in {
            width: 108px;
            height: 35px;
            text-decoration: none;
            color: #000000;
            text-align: center;
            padding-top: 12px;
        }
        &-sign-up {
            width: 108px;
            height: 50px;
            color: #52C41A;
            border: 0.4px solid #52C41A;
            border-radius: 5px;
            padding-top: 0;
            text-align: center;
            padding-top: 12px;
            box-sizing: border-box;
        }
    }
}