@import '../../variables.scss';

.article-section {
    width: 940px;
    min-height: calc(100vh - 172px);
    background-color: $base-background;
    margin: 26px auto 64px auto;
    box-sizing: border-box;
    padding: 10px 5px;
    box-shadow: 0px 4px 12px 0px $box-shadow-color;
}

.article {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: $base-background;
    &__text-section {
        width: 78%;
        padding: 14px;
    }
    &__author-section {
        width: 22%;
        height: auto;
        padding: 14px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 13px;
    }
    &__title {
        font-family: $inter;
        font-size: 20px;
        display: block;
        color: $article-title-color;
    }
    &__likes-section-unfavorite {
        border: none;
        background-color: inherit;
        width: 38px;
        font-size: 12px;
        text-align: end;
        cursor: pointer;
        background-image: url('../../assets/images/heart.png');
        background-repeat: no-repeat;
    }
    &__likes-section-favorite {
        border: none;
        background-color: inherit;
        width: 38px;
        font-size: 12px;
        text-align: end;
        cursor: pointer;
        background-image: url('../../assets/images/favourite.png');
        background-repeat: no-repeat;
    }
    &__tags-section {
        font-family: $inter;
        margin-top: 4px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 24px;
        overflow: hidden;
        opacity: 0.5;
    }
    &__article-text {
        margin-top: 6px;
        font-family: $inter;
        font-size: 12px;
        line-height: 22px;
        overflow: hidden;
        opacity: 0.75;
    }
    &__name-date-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 6px;
    }
    &__author-name {
        font-size: 18px;
    }
    &__date-of-creation {
        font-size: 12px;
        color: $base-text-color;
        opacity: 0.5;
    }
    &__author-avatar {
        width: 46px;
        height: 46px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: inherit;
        box-sizing: border-box;
    }
    &__delete-button {
        width: 78px;
        height: 32px;
        background-color: inherit;
        box-sizing: border-box;
        border: 1px solid $button-delete;
        border-radius: 5px;
        color: $delete-text-color;
        cursor: pointer;
    }
    &__edit-button {
        width: 78px;
        height: 32px;
        background-color: inherit;
        box-sizing: border-box;
        border: 1px solid $button-edit;
        border-radius: 5px;
        padding-left: 22px;
        padding-top: 5px;
        color: $edit-text-color;
        cursor: pointer;
    }
    :global(.ant-typography code) {
        font-family: $inter!important; 
    }
}
.article-body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 14px;
    font-family: $inter;
}