@import '../../variables.scss';

.app {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: $app-background;
    font-family: $inter;
    display: flex;
    flex-direction: column;
    align-items: center;
}