@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-UI-Regular.woff2') format('woff2'),
         url('./assets/fonts/Inter-UI-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
         url('./assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, h5, h2, h1, h3, ul, li, p, a {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

a {
    text-decoration: none;
}