$base-background: #FFFFFF;
$box-shadow-color: #00000026;
$app-background: #EBEEF3;

$input-border: #D9D9D9;
$input-placeholder: #BFBFBF;

$button-color: #1890FF;
$button-delete: #F5222D;
$button-edit: #52C41A;
$button-add: #1890FF;
$button-logout: rgba(#000000, 0.75);

$article-title-color: #1890FF;
$link-color: #1890FF;

$base-text-color: #000000;
$delete-text-color: #F5222D;
$edit-text-color: #52C41A;
$error-text-color: #F5222D;
$log-out-text: rgba(#000000, 0.75);
$header-text-color: #262626;
$notification-text-color: #8C8C8C;

$roboto: 'Roboto';
$inter: 'Inter';